.navbar {
    min-width: 100%;
}

.high-scores {
    color: rebeccapurple;
}

.timer {
   float: right;
}

.seconds {

}

.jumbotron {
    background-color: white;
    text-align: center;
    margin-right: 20rem;
    margin-left: 20rem;
    min-width: min-content;
}

p {
    margin-top: 1rem;
}

.btn {
    background-color: rebeccapurple;
    color: white;
}


