.high-scores {
    
}

.timer {
   float: right;
}

.seconds {

}

.jumbotron {
    text-align: center;
    margin-top: 5rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
}

