.navbar {
    min-width: 100%;
}

.high-scores {
    color: rebeccapurple;
    opacity: 1;
}

.high-scores:hover {
    opacity: .75;
    color: rebeccapurple;
}

#timer {
   float: right;
}

#seconds {

}

.container {
    text-align: center;
    padding: 4rem;
}
 h2 {
    font-weight: bold;
 }

p {
    margin-top: 1rem;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
    opacity: 1;
}

.btn:hover {
    opacity: .75;
}

#start-btn {

}


